@page "/student/verify"
@using Unohana.Services
@inject UserStorage UserStorage
@inject VerificationService StudentVerification
@inject NavigationManager NavigationManager

@code {
    public double RegisterNumber { get; set; }
    public string RegisterLabelMessageIsVisible { get; set; } = "hidden";
    public StudentCSVModel? Result { get; set; }

    async void OnSubmit()
    {
        try
        {
            RegisterLabelMessageIsVisible = "hidden";

            Result = await StudentVerification.VerifyStudent(RegisterNumber);
            if (Result is null)
                RegisterLabelMessageIsVisible = "visible";
            // success
            else
            {
                // store student details in scoped storage service
                UserStorage.RegisterNumber = Result.RegisterNumber;
                UserStorage.Username = Result.Name;
                UserStorage.Email = Result.Email;
                NavigationManager.NavigateTo("/student/verify/otp");
            }
            // render again
            StateHasChanged();
        }
        catch (Exception ex) { Debug.WriteLine("VerifyStudent error : " + ex); }
    }
}

<title>
    Verifying student
</title>
<PrimaryLayout>
    <Content>
    <PrimaryCard>
        <Content>
            <span class="primary-title">
                Verify
            </span>
            <div class="flex-container">
                <div class="form-group">
                    <span class="label">
                        register no
                        </span>
                    <DigitEntry @bind-Data="@RegisterNumber" />
                    <span class="register-label-message" style="visibility:@RegisterLabelMessageIsVisible">
                        doesn't exist
                        </span>
                </div>
                <PrimaryButton Title="continue" OnButtonClick="@OnSubmit"/>
            </div>
        </Content>
    </PrimaryCard>
    </Content>
</PrimaryLayout>

