.grid-container{
    margin-top:40px;

    display:grid;
    grid-template-rows:1fr;
    grid-template-columns:1fr 1fr;
    grid-column-gap:40px;
}

.rows{
    display:flex;
    flex-direction:column;
    gap:30px;
}

