@page "/student/verify/otp"
@inject NavigationManager NavigationManager
@inject StudentInfoStorage StudentInfoStorage
@inject RequestOtp RequestOtp
@inject RequestOtpVerification RequestOtpVerification

@code {
    public string Email { get; set; } = string.Empty;
    public string OTP { get; set; } = string.Empty;

    protected async override Task OnInitializedAsync()
    {
        if(StudentInfoStorage.RegisterNumber == 0)
        {
            NavigationManager.NavigateTo("/student/verify");
        }
        // success
        Email = StudentInfoStorage.Email;
        await RequestOtp.Trigger(StudentInfoStorage.Username,Email,StudentInfoStorage.RegisterNumber);
    }
    async Task OnSubmit()
    {
        bool result = await RequestOtpVerification.Trigger(OTP,StudentInfoStorage.RegisterNumber);
        // success
        if (result is true)
            NavigationManager.NavigateTo("/student/signup");
    }
    async Task OnResend()
    {
        await RequestOtp.Trigger(StudentInfoStorage.Username,Email,StudentInfoStorage.RegisterNumber);
    }
}

<title>
    Student otp
</title>
<PrimaryLayout>
    <Content>
        <PrimaryCard>
            <Content>
                <span class="primary-title">
                    Otp send to: <br />
                    @Email
                </span>
                <div class="flex-container">
                    <div class="form-group">
                        <span class="label">
                            otp
                        </span>
                        <TextEntry @bind-Data="@OTP" />
                    </div>
                    <PrimaryButton OnButtonClick="@OnSubmit"  Title="verify"/>
                    <SecondaryButton OnButtonClick="@OnResend" Title="resend"/>
                </div>
            </Content>
        </PrimaryCard>
    </Content>
</PrimaryLayout>
