@page "/student/verify/otp"
@inject NavigationManager NavigationManager
@inject StudentInfoStorage StudentInfoStorage

@code {
    public string Email { get; set; } = string.Empty;
    public double RegisterNumber { get; set; }
    public double OTP { get; set; }

    protected override void OnInitialized()
    {
        if(StudentInfoStorage.RegisterNumber == 0)
        {
            NavigationManager.NavigateTo("/student/verify");
        }
        // success
        Email = StudentInfoStorage.Email;
    }
    void OnSubmit()
    {

    }
    void OnResend()
    {
        
    }
}

<PageTitle>Student otp</PageTitle>
<PrimaryLayout>
    <Content>
        <PrimaryCard>
            <Content>
                <span class="primary-title">
                    Otp send to: <br />
                    @Email
                </span>
                <div class="flex-container">
                    <div class="form-group">
                        <span class="label">
                            otp
                        </span>
                        <DigitEntry @bind-Data="@OTP" />
                    </div>
                    <PrimaryButton OnButtonClick="@OnSubmit" Title="verify"/>
                    <SecondaryButton OnButtonClick="@OnResend" Title="resend"/>
                </div>
            </Content>
        </PrimaryCard>
    </Content>
</PrimaryLayout>
