@page "/student/verify/otp"
@using Unohana.Services
@inject NavigationManager NavigationManager
@inject UserStorage StudentInfoStorage
@inject OtpService OtpService
@inject OtpService OtpServiceVerification

@code {
    public string Email { get; set; } = string.Empty;
    public string OTP { get; set; } = string.Empty;

    protected async override Task OnInitializedAsync()
    {
        if(StudentInfoStorage.RegisterNumber == 0)
        {
            NavigationManager.NavigateTo("/student/verify");
        }
        // success
        try
        {
            Email = StudentInfoStorage.Email;
            await OtpService.RequestOtp(
                StudentInfoStorage.Username,
                Email,
                StudentInfoStorage.RegisterNumber
            );
        }catch(Exception ex){ Debug.WriteLine("RequestOtp error: " + ex); }
    }

    async Task OnSubmit()
    {
        try
        {
            bool result = await OtpServiceVerification.RequestVerification(
                    OTP,
                    StudentInfoStorage.RegisterNumber
                );
            // success
            if (result is true)
                NavigationManager.NavigateTo("/student/signup");
        }catch(Exception ex){ Debug.WriteLine("RequestVerification error: " + ex); }
    }

    async Task OnResend()
    {
        try
        {
            await OtpService.RequestOtp(
                    StudentInfoStorage.Username,
                    Email,
                    StudentInfoStorage.RegisterNumber
                );
        }catch(Exception ex){ Debug.WriteLine("RequestOtp error: " + ex); }
    }
}

<title>
    Student otp
</title>
<PrimaryLayout>
    <Content>
        <PrimaryCard>
            <Content>
                <span class="primary-title">
                    Otp send to: <br />
                    @Email
                </span>
                <div class="flex-container">
                    <div class="form-group">
                        <span class="label">
                            otp
                        </span>
                        <TextEntry @bind-Data="@OTP" />
                    </div>
                    <PrimaryButton OnButtonClick="@OnSubmit"  Title="verify"/>
                    <SecondaryButton OnButtonClick="@OnResend" Title="resend"/>
                </div>
            </Content>
        </PrimaryCard>
    </Content>
</PrimaryLayout>
