@font-face{
    font-family:'Poppins-Regular';
    src:url('Fonts/Poppins-Regular.ttf');
}

.main-layout{
    height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    background-color:whitesmoke;

    font-family:Poppins-Regular;
    letter-spacing:1.5px;
}
