.primary-card{
    background-color:whitesmoke;
    border-radius:8px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:20px 40px;
    transition-duration:.2s;
}
.primary-card:hover{
    transition-duration:.2s;
    box-shadow:rgba(173,216,230,.9) 1px 1px 90px 10px;
}
