@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;
    [Parameter]
    public EventCallback OnButtonClick { get; set; }

    async void TriggerOnButtonClick()
    {
        await OnButtonClick.InvokeAsync();
    }
}

<button class="btn" type="submit" @onclick="@TriggerOnButtonClick">@Title</button>
