@page "/"

<link href="@Assets["Home.css"]" rel="stylesheet" />

<PageTitle>Home</PageTitle>


<div class="main-layout">

    <div class="title-container">
        <span class="primary-title">Unohana</span>

        <div class="desc-container">
            <span class="desc">A new WAY for teacher - student relations</span>
        </div>
    </div>

</div>

