@page "/"

<link href="@Assets["Home.css"]" rel="stylesheet" />

<PageTitle>Home</PageTitle>


<div class="main-layout">

    <div class="content-container"></div>

    <div class="title-container">
        <span class="primary-title">Unohana</span>

        <div class="desc-container">
            <span class="desc">A new WAY for teacher - student relations</span>
            <div class="empty-space"></div>
            <button class="get-started-btn">Get started!</button>
        </div>
    </div>

</div>

