@page "/"
@inject NavigationManager NavigationManager

@code{
    void GoToSignUpView()
    {
        NavigationManager.NavigateTo("/junction");
        Debug.WriteLine("navigating to junction!");
    }
}

<title>
    Start
</title>
<div class="main-layout">
    <!--empty space-->
    <div class="content-container"></div>
    <!--rhs content-->
    <div class="title-container">
        <!--logo-->
        <span class="primary-title">Unohana</span>

        <div class="desc-container">
            <!--desc-->
            <span class="desc">A new WAY for teacher - student relations</span>
            <!--empty space-->
            <div class="empty-space"></div>
            <!--goto signup btn-->
            <input type="button" class="get-started-btn" @onclick="GoToSignUpView" value="Get started!" />
        </div>
    </div>
</div>

