@using System.Diagnostics
@using Unohana.Components.Buttons

@page "/junction"
@rendermode InteractiveServer
@code {

}

<PageTitle>Where to?</PageTitle>

<div class="main-layout">
    <div class="junction-card">
        <span class="primary-title">
            Where to?
        </span>

        <div class="grid-container">
            <div class="form-group">
                <span class="secondary-title">Student</span>
                <PrimaryButton Title="Sign in" />
                <SecondaryButton Title="Sign up" />
            </div>
            <div class="form-group">
                <span class="secondary-title">Teacher</span>
                <PrimaryButton Title="Sign in" />
                <SecondaryButton Title="Sign up" />
            </div>
        </div>
    </div>
</div>
