@font-face{
    font-family:'Poppins-Regular';
    src:url('Fonts/Poppins-Regular.ttf');
}

.main-layout{
    user-select:none;
    height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    background-color:whitesmoke;

    font-family:Poppins-Regular;
    letter-spacing:1.5px;
}

.junction-card{
    background-color:whitesmoke;
    border-radius:8px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding:20px 40px;

    transition-duration:.2s;
}
.junction-card:hover{
    transition-duration:.2s;
    box-shadow:rgba(173,216,230,.9) 1px 1px 90px 10px;
}

.primary-title{
    font-size:32px;
}

.grid-container{
    margin-top:40px;

    display:grid;
    grid-template-columns:1fr 1fr;
    grid-column-gap:50px;
}

.secondary-title{
    font-size:48px;
    font-weight:900;
}

.form-group{
    display:flex;
    flex-direction:column;
    gap:30px;
    align-items:center;
    justify-content:center;
}

.label{
    display:block;
    font-size:10px;
    color:grey;
}
